

#---------------BAd Files Ignore-------------------------

*.DS_Store*
CMakeLists.txt
.DS_Store
*.DS_Store

#------------- ignore directories -------------------------
sem-3/contest/intro-lab-gr-rassadnikov
sem-3/dm/randomGraphGenerator
sem-3/ios/ios-itmo-2022-assignment-1-gr-rassadnikov
sem-3/ios/ios-itmo-2022-assignment-2-gr-rassadnikov
sem-3/ios/ios-itmo-2022-assignment-3-gr-rassadnikov
sem-3/ios/ios-itmo-2022-assignment-4-gr-rassadnikov
sem-3/ios/ios-itmo-2022-assignment-5-gr-rassadnikov
sem-3/ios/ios-itmo-2022-assignment-6-gr-rassadnikov
*java-advanced-2023*


#-------------- C++ tests ignore ---------------------------

*test*
*googletest*


# -----------------C++ IGNORE------------------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ViM temporary files
.*.swp

# CMake stuff
CMakeCache.txt
CMakeFiles/*
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake-build-debug

# Various IDE
.idea
.vscode
